<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Android</title>

  <link rel="stylesheet" href="../resources/css/index.css">
</head>

<body>
  <div class="android">

    <nav class="app-header">
      <span id="time"></span>
      <div class="group">
        <span class="icon icon-clock"></span>
        <span class="icon icon-sound"></span>
        <span class="icon icon-network"></span>
        <span class="icon icon-battery"></span>
      </div>
    </nav>

    <main class="apps-container">
      <header class="app-page-header">
        <img class="app-icon" src="../resources/img/app/google-play.png" alt="">
        <h3>Play Store</h3>
      </header>
    </main>

    <footer>
      <small>
        <a href="https://www.flaticon.com/free-icons/">Icons created by Freepik - Flaticon</a>
      </small>
    </footer>
  </div>

  <script src="../resources/js/functions.js"></script>
  <script src="../resources/js/time.js"></script>
</body>

</html>